<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="fileinput fileinput-new" data-provides="fileinput">
        <div class="fileinput-preview " data-trigger="fileinput">
          <% userphoto = UserInformation.find_by_user_id(current_user.id) %>
          <% if userphoto.nil? %>
              <%= image_tag("picture.gif", alt: "profile ficture", class: "profile-picture") %>
          <% else %>
              <%= image_tag userphoto.photo.url, :class => "img img-student img-responsive img-thumbnail profile-picture" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-6" >
      <div class="password-form">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, :class => "form-horizontal"}) do |f| %>
            <%= devise_error_messages! %>

            <div class="field_with_errors field form-group">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, :class => "form-control"%>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="field field_with_errors form-group">
              <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
              <%= f.password_field :current_password, autocomplete: "off", :class => "form-control" %>
            </div>

            <div class="field field_with_errors form-group">
              <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
              <%= f.password_field :password, autocomplete: "off", :class => "form-control" %>
            </div>

            <div class="field field_with_errors form-group">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control" %>
            </div>

            <div class="actions form-group">
              <%= f.submit "Update", :class => "btn btn-primary" %>
            </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-3" style="padding-left: 30px;">
      <h3>Cancel your account</h3>

      <p><%= button_to "Click Here!!!", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class => "btn btn-danger" %></p>
    </div>
  </div>
</div>
