<div id="home">
  <div id="abc">
    <nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="10">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>


        <a class="navbar-brand" href="<%= unauthenticated_root_path %>">LinkStore</a>
        <a class="brand" href="<%= unauthenticated_root_path %>">
          <!-- <label class="logo">
               <label class="text-success">Link</label><label class="text-primary">Store</label></label>-->
          <strong><span class="text text-success">Link</span><span class="text text-primary">Store</span></strong>
        </a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a data-toggle="collapse" data-target=".navbar-collapse" href="<%= unauthenticated_root_path %>">Home</a></li>
          <li><a data-toggle="collapse" data-target=".navbar-collapse" href="<%= new_user_session_path %>">Login</a></li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">


          <div class="login-form">
            <div class="row ">
              <div class="inventory-title">
                <div class="col-md-12">
                  <h2 class="text-center page-heading">Sign Up</h2>
                  <hr class="hrblack">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                    <div class="col-md-12">
                      <label>Email*</label>
                      <div class="form-group">
                        <% if resource.errors[:email].any? %>
                            <input class=" form-control popovertitle" data-container="body" data-placement="right"
                                   data-html = "true" data-trigger="hover" data-toggle="popover"
                                   style="border-color: #fd0404; background-color: #ffb7b7;"
                                   type="email" value="" name="user[email]" id="user_email" data-toggle="toggle"
                                   data-content="<% resource.errors[:email].each do |errors| %>
                                                 <%= errors.capitalize %><br/>
                                              <% end %> ">
                        <% else %>
                            <%= f.email_field :email, autofocus: true, :class => "form-control" %>
                        <% end %>
                      </div>
                    </div>

                    <div class="col-md-12">
                      <label>Password*</label>
                      <div class="form-group">
                        <% if resource.errors[:password].any? %>
                            <input autocomplete="off" style="border-color: #fd0404; background-color: #ffb7b7;"
                                   type="password" name="user[password]" id="user_password"
                                   class=" form-control popovertitle" data-container="body" data-placement="right"
                                   data-html = "true" data-trigger="hover" data-toggle="popover"
                                   data-content="<% resource.errors[:password].each do |errors| %>
                                                 <%= errors.capitalize %><br/>
                                              <% end %> ">
                        <% else %>
                            <%= f.password_field :password, autocomplete: "off", :class => "form-control" %>
                        <% end %>
                      </div>
                    </div>

                    <div class="col-md-12">
                      <label>Confirm Password*</label>
                      <div class="form-group">
                        <% if @user.errors[:password_confirmation] .present? %>
                            <input autocomplete="off" style="border-color: #fd0404; background-color: #ffb7b7;"
                                   type="password" name="user[password_confirmation]" id="user_password_confirmation"
                                   class=" form-control popovertitle" data-container="body" data-placement="right"
                                   data-html = "true" data-trigger="hover" data-toggle="popover"
                                   data-content="<% resource.errors[:password_confirmation].each do |errors| %>
                                                 <%= errors.capitalize %><br/>
                                              <% end %> ">
                        <% else %>
                            <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control" %>
                        <% end %>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="col-md-12 actions">
                        <%= f.submit "Sign up", :class => "btn btn-primary btn-block" %>
                      </div>
                    </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render "shared/footer" %>
</div>

<script type="text/javascript" charset="utf-8">

  $(document).ready(function () {
    $('[data-toggle="popover"]').popover();
  });
</script>