<% @data = controller.controller_name.to_s.titleize %>
      <% if @check_title === "Category" %>
            <div class="page-header">
              <h3>
                <%= @data %> <small> | <%=  @title %></small></h4>
              </h3>

            </div>
            <ol class="breadcrumb">
              <a href="/">Home</a>
            </ol>
      <% else %>
      <% if @data != "Registrations" %>
        <div class="page-header">
          <h3>
            <%= @data %> <small> | <%=  @title %></small></h4>
          </h3>

        </div>
        <ol class="breadcrumb">
          <%= render_breadcrumbs :tag => :li, :separator => "" %>
        </ol>
      <% else %>
        <div class="page-header">
          <h3>
            <%= @data %> <small> | <%=  @title %></small></h4>
          </h3>

        </div>
        <ol class="breadcrumb">
          <a href="<%= authenticated_root_path %>">Home</a><span> / Setting / Change Password</span>
        </ol>
      <% end %>
<% end %>