<div class="navmenu navmenu-default navmenu-fixed-left offcanvas">
  <a class="navmenu-brand" href="<%= unauthenticated_root_path %>"><h3><strong><span class="text-success">Link</span><span class="text-primary">Store</span></strong></h3></a>
  <ul class="nav navmenu-nav">

    <li class="dropdown">
      <a href="#" class="dropdown-toggle" >
        <h4><i class="fa fa-plus">&nbsp;</i> Add <b class="caret"></b></h4>
      </a>
      <ul class="dropdown-menu navmenu-nav">
        <li><a href="<%= new_category_path %>">
                    <span>
                      <i class="fa fa-tree fa-fw">&nbsp;</i>
                    </span>
            Category
          </a>
        </li>

        <li>
          <a href="<%= new_topic_path %>">
                    <span>
                      <i class="fa fa-book fa-fw">&nbsp;</i>
                    </span>Title
          </a>
        </li>

        <li>
          <a href="<%= new_link_path %>">
                    <span>
                      <i class="fa fa-link fa-fw">&nbsp;</i>
                    </span>Link
          </a>
        </li>

      </ul>
    </li>

    <li class="dropdown">
      <a href="#" class="dropdown-toggle" >
        <h4><i class="fa fa-binoculars">&nbsp;</i> View <span class="caret"></span></h4>
      </a>
      <ul class="dropdown-menu navmenu-nav">
        <li>
          <a href="<%= categories_path %>">
                    <span>
                      <i class="fa fa-tree fa-fw">&nbsp;</i>
                    </span>
            Category
          </a>
        </li>
        <li>
          <a href="<%= topics_path %>">
                    <span>
                      <i class="fa fa-book fa-fw">&nbsp;</i>
                    </span>Topics
          </a>
        </li>
        <li>
          <a href="<%= links_path %>">
                    <span>
                      <i class="fa fa-link fa-fw">&nbsp;</i>
                    </span>Links
          </a>
        </li>
      </ul>
    </li>

    <li class="dropdown">
      <a href="#" class="dropdown-toggle" >
        <h4> <i class="fa fa-star">&nbsp;</i> Favourite <span class="caret"></span></h4>
      </a>
      <ul class="dropdown-menu navmenu-nav">
        <li>
          <a href="<%= favorite_categories_path %>">
                    <span>
                      <i class="fa fa-tree fa-fw">&nbsp;</i>
                    </span>
            Category
          </a>
        </li>
        <li>
          <a href="<%= favorite_list_topics_path %>">
                    <span>
                      <i class="fa fa-book fa-fw">&nbsp;</i>
                    </span>Topics
          </a>
        </li>
        <li>
          <a href="<%= favorite_list_links_path %>">
                    <span>
                      <i class="fa fa-link fa-fw">&nbsp;</i>
                    </span>Links
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>

<div class="navbar menubar navbar-default navbar-fixed-top">
  <div class="container">
    <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

      <div class="pull-right">
        <ul class="nav navmenu-nav navbar-right ">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle">
              <% @user = UserInformation.find_by_user_id(current_user.id) %>
              <% if @user.nil? %>
                  <%= image_tag "picture.gif", class: "pp-avatar"%>
              <% else %>
                  <% if (@user.first_name.present? or @user.middle_name.present? or @user.last_name.present?) %>
                      <% if @user.photo.present? %>
                          <%= image_tag @user.photo.thumb.url, :class => "pp-avatar" %>
                      <% else %>
                          <%= image_tag "picture.gif", class: "pp-avatar" %>
                      <% end %>
                  <% else %>
                      <% if @user.photo.present? %>
                          <%= image_tag @user.photo.thumb.url, :class => "pp-avatar" %>
                      <% else %>
                          <%= image_tag "picture.gif", class: "pp-avatar" %>
                      <% end %>
                  <% end %>
              <% end %>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li class="text-center">
                <a>
                    <span>
                      <h4 class="menue-username text-success">
                        <% if @user.nil? %>
                           <%= current_user.email %>
                        <% else %>
                            <% if (@user.first_name.present? or @user.middle_name.present? or @user.last_name.present?) %>

                                <% if user_signed_in? %>
                                    <% if @user.first_name.present?%>
                                        <%= @user.first_name.slice(0, 1).capitalize + @user.first_name.slice(1..-1) %>
                                    <% end %>
                                    <% if @user.middle_name.present? %>
                                        <%= @user.middle_name.slice(0, 1).capitalize + @user.middle_name.slice(1..-1) %>
                                    <% end %>
                                    <% if @user.last_name.present?%>
                                        <%= @user.last_name.slice(0, 1).capitalize + @user.last_name.slice(1..-1) %>
                                    <% end %>
                                <% end %>

                            <% else %>
                                <%= current_user.email %>
                            <% end %>
                        <% end %>
                     </h4>
                    </span>
                </a>
              </li>
              <hr class="hrmenu">
              <li>
                <% if @user.nil? %>
                    <a href="<%= new_user_information_path %>">
                        <span>
                          <i class="fa fa-user fa-fw">&nbsp; </i>
                        </span>
                      Profile
                    </a>
                <% else %>
                    <a href="<%= edit_user_information_path(1) %>">
                        <span>
                          <i class="fa fa-user fa-fw">&nbsp; </i>
                        </span>
                      Profile
                    </a>
                <% end %>
              </li>
              <li>
                <a href="<%= destroy_user_session_path %>" data-method="delete" rel="nofollow">
                  <span>
                    <i class="fa fa-sign-out fa-fw">&nbsp;</i>
                  </span>
                  Logout
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
  </div>
</div>
<script type="text/javascript" charset="utf-8">
  $(function () {
    $('li.dropdown a').on('click', function (event) {
      $(this).parent().toggleClass('open');
    });
  });
</script>