  <nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="10" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-main" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand logo" href="<%= unauthenticated_root_path %>">
          <strong><span class="text-success">Link</span><span class="text-primary">Store</span></strong></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="navbar-space">
      <div class="collapse navbar-collapse" id="navbar-collapse-main">
        <div class="container">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-plus">&nbsp;</i>Add<span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="<%= new_category_path %>">
                    <span>
                      <i class="fa fa-tree fa-fw">&nbsp;</i>
                    </span>
                    Category
                  </a>
                </li>

                <li>
                  <a href="<%= new_topic_path %>">
                    <span>
                      <i class="fa fa-book fa-fw">&nbsp;</i>
                    </span>Title
                  </a>
                </li>

                <li>
                  <a href="<%= new_link_path %>">
                    <span>
                      <i class="fa fa-link fa-fw">&nbsp;</i>
                    </span>Link
                  </a>
                </li>

              </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-binoculars">&nbsp;</i>View<span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="<%= categories_path %>">
                    <span>
                      <i class="fa fa-tree fa-fw">&nbsp;</i>
                    </span>
                    Category
                  </a>
                </li>
                <li>
                  <a href="<%= topics_path %>">
                    <span>
                      <i class="fa fa-book fa-fw">&nbsp;</i>
                    </span>Topics
                  </a>
                </li>
                <li>
                  <a href="<%= links_path %>">
                    <span>
                      <i class="fa fa-link fa-fw">&nbsp;</i>
                    </span>Links
                  </a>
                </li>
              </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-star">&nbsp;</i>Favourite<span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="<%= favorite_categories_path %>">
                    <span>
                      <i class="fa fa-tree fa-fw">&nbsp;</i>
                    </span>
                    Category
                  </a>
                </li>
                <li>
                  <a href="<%= favorite_list_topics_path %>">
                    <span>
                      <i class="fa fa-book fa-fw">&nbsp;</i>
                    </span>Topics
                  </a>
                </li>
                <li>
                  <a href="<%= favorite_list_links_path %>">
                    <span>
                      <i class="fa fa-link fa-fw">&nbsp;</i>
                    </span>Links
                  </a>
                </li>
              </ul>
            </li>


          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <% @user = UserInformation.find_by_user_id(current_user.id) %>
                <% if @user.nil? %>
                    <%= image_tag "picture.gif", class: "pp-avatar"%>
                <% else %>
                    <% if (@user.first_name.present? or @user.middle_name.present? or @user.last_name.present?) %>
                        <% if @user.photo.present? %>
                            <%= image_tag @user.photo.thumb.url, :class => "pp-avatar" %>
                        <% else %>
                            <%= image_tag "picture.gif", class: "pp-avatar" %>
                        <% end %>
                    <% else %>
                        <% if @user.photo.present? %>
                            <%= image_tag @user.photo.thumb.url, :class => "pp-avatar" %>
                        <% else %>
                          <%= image_tag "picture.gif", class: "pp-avatar" %>
                        <% end %>
                    <% end %>
                <% end %>
              </a>
              <ul class="dropdown-menu">
                <li class="text-center">
                  <a>
                    <span>
                      <h4 class="menue-username text-success">
                        <% if @user.nil? %>
                           <%= current_user.email %>
                        <% else %>
                            <% if (@user.first_name.present? or @user.middle_name.present? or @user.last_name.present?) %>

                                <% if user_signed_in? %>
                                    <% if @user.first_name.present?%>
                                        <%= @user.first_name.slice(0, 1).capitalize + @user.first_name.slice(1..-1) %>
                                    <% end %>
                                    <% if @user.middle_name.present? %>
                                        <%= @user.middle_name.slice(0, 1).capitalize + @user.middle_name.slice(1..-1) %>
                                    <% end %>
                                    <% if @user.last_name.present?%>
                                        <%= @user.last_name.slice(0, 1).capitalize + @user.last_name.slice(1..-1) %>
                                    <% end %>
                                <% end %>

                            <% else %>
                                <%= current_user.email %>
                            <% end %>
                        <% end %>
                     </h4>
                    </span>
                  </a>
                </li>
                <hr class="hrmenu">
                <li>
                  <% if @user.nil? %>
                      <a href="<%= new_user_information_path %>">
                        <span>
                          <i class="fa fa-user fa-fw">&nbsp; </i>
                        </span>
                        Profile
                      </a>
                  <% else %>
                      <a href="<%= edit_user_information_path(1) %>">
                        <span>
                          <i class="fa fa-user fa-fw">&nbsp; </i>
                        </span>
                        Profile
                      </a>
                  <% end %>
                </li>
                <li>
                  <a href="<%= destroy_user_session_path %>" data-method="delete" rel="nofollow">
                  <span>
                    <i class="fa fa-sign-out fa-fw">&nbsp;</i>
                  </span>
                    Logout
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div><!-- /.navbar-collapse -->
    </div>
  </div><!-- /.container-fluid -->
</nav>