<div id="home">
  <div class="container1" id="abc">
    <nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="10">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>


        <a class="navbar-brand" href="<%= unauthenticated_root_path %>">LinkStore</a>
        <a class="brand" href="<%= unauthenticated_root_path %>">
          <!-- <label class="logo">
               <label class="text-success">Link</label><label class="text-primary">Store</label></label>-->
          <strong><span class="text text-success">Link</span><span class="text text-primary">Store</span></strong>
        </a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a data-toggle="collapse" data-target=".navbar-collapse" href="<%= unauthenticated_root_path %>">Home</a></li>
          <li><a data-toggle="collapse" data-target=".navbar-collapse" href="<%= new_user_registration_path %>">Sign Up</a></li>
        </ul>
      </div>
    </nav>
    <br>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <% unless flash.empty? %>
              <script type="text/javascript">
                <% flash.each do |f| %>
                <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
                toastr['<%= type %>']('<%= f[1] %>');
                <% end %>
              </script>
          <% end %>

          <div class="login-form">
            <div class="row ">
              <div class="inventory-title">
                <div class="col-md-12">
                  <h2 class="text-center page-heading"> Login</h2>
                  <hr class="hrblack">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                    <div class="col-md-12">
                      <label>Email</label>
                      <div class="form-group">
                        <%= f.text_field :email, autofocus: true, :class => 'form-control ', :placeholder => 'Username or Email Address' %>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <label>Password</label>
                      <div class="form-group">
                        <%= f.password_field :password, autocomplete: "off", :class => 'form-control', :placeholder => 'Password' %>
                      </div>
                    </div>

                    <div class="col-md-12">
                      <%= f.submit "Log in", :class => 'btn btn-primary btn-block' %>
                      <br>
                    </div>
                    <div class="col-md-6">
                      <% if devise_mapping.rememberable? -%>
                        <span class=" pull-left">
                           <%= f.check_box :remember_me %>Remember Me
                       </span>
                      <% end -%>
                    </div>
                    <div class="col-md-6 text-right" >
                      <% if devise_mapping.recoverable? -%>
                          <%= link_to "Forgot password?", new_password_path(resource_name), :style => "color: white; text-decoration: none;"%>
                      <% end -%>
                    </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render "shared/footer" %>
</div>
