<div class="user-info">
  <div class="row">
    <%= form_for (@user_info), html: {class: "form-horizontal"} do |f| %>
        <div class="col-md-3">

          <div class="fileinput fileinput-new" data-provides="fileinput">
            <div class="fileinput-preview " data-trigger="fileinput">
              <% userphoto = UserInformation.find_by_user_id(current_user.id)%>
              <% if userphoto.nil? %>
                <%= image_tag("picture.gif", alt: "profile ficture", class: "profile-picture")%>
              <% else %>
                  <%= image_tag userphoto.photo.url, :class => "img img-student img-responsive img-thumbnail" %>
              <% end %>
            </div>
            <div class="pull-right">
              <span class="btn-file"><span class="fileinput-new"><i class="fa fa-camera"></i></span><span class="fileinput-exists"><i class="fa fa-camera "></i></span><%= f.file_field :photo%></span>
            </div>
          </div>
          <br>
          <a href="<%= edit_user_registration_path %>" class="btn btn-primary">Change Password</a>
        </div>
        <div class="col-md-6">

          <div class="form-group">
            <label class="control-label col-md-3 text-success ">First Name*</label>
            <div class="col-md-9">
              <%= f.text_field :first_name, autofocus: true, :class => "form-control", :placeholder => "Enter First Name" %>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-3 text-success">Middle Name*</label>
            <div class="col-md-9">
              <%= f.text_field :middle_name, autofocus: true, :class => "form-control", :placeholder => "Enter Middle Name" %>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-3 text-success">Last Name*</label>
            <div class="col-md-9">
              <%= f.text_field :last_name, autofocus: true, :class => "form-control", :placeholder => "Enter Last Name" %>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-3 text-success">Country</label>
            <div class="col-md-9">
              <%= f.text_field :country, autofocus: true, :class => "form-control", :placeholder => "Zeftware Technology" %>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-3 text-success">State</label>
            <div class="col-md-9">
              <%= f.text_field :state, autofocus: true, :class => "form-control", :placeholder => "Zeftware Technology" %>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-3 text-success">Phone Number</label>
            <div class="col-md-9">
              <%= f.text_field :phone_no, autofocus: true, :class => "form-control", :placeholder => "Zeftware Technology" %>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-3 text-success">City</label>
            <div class="col-md-9">
              <%= f.text_field :city, autofocus: true, :class => "form-control", :placeholder => "Zeftware Technology" %>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-3 text-success">Religion</label>
            <div class="col-md-9">
              <%= f.text_field :religion, autofocus: true, :class => "form-control", :placeholder => "Zeftware Technology" %>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-3 text-success">Date of Birth</label>
            <div class="col-md-9">
              <%= f.text_field :dob, autofocus: true, :class => "form-control", :placeholder => "Zeftware Technology" %>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-3 text-success">Gender*</label>
            <div class="col-md-9">
              <%= f.text_field :gender, autofocus: true, :class => "form-control", :placeholder => "Zeftware Technology" %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-offset-3 col-md-2 actions">
              <%= f.submit "Create", :class => "btn btn-primary" %>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>